* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --primary-color: #A3FEF9;
    --text-color: #FFF;
    --bg-primary-color: #282F37;
    --bg-secondary-color: #383838;
}

#navBar {
    width: 100%;
}

#navBar .nav-cont {
    width: 100%;
    height: 100px;
    padding: 0 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-primary-color);
    /* margin-bottom: 100px; */
    
}

#navBar .logo {
    font-size: 40px;
    font-weight: 600;
    color: var(--primary-color);
}

#navBar .nav-bar {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
}

#navBar .nav-bar .nav-item {
    font-size: 24px;
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
}
#navBar .nav-item> a {
    color: inherit;
}
#navBar .nav-item .nav-active {
    color: var(--primary-color);
}

#navBar .nav-fix {
    position: fixed;
    top: 0;
    /* margin-bottom: 100px; */
    z-index: 1000;
}